/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* UTILITY */


/* MAIN */

.col>img {
    width: 100px;
}

.changes_input {
    width: 300px;
}

.w_650 {
    width: 650px;
}